{% extends 'base.html' %}

{% load static %}


{% block content %}
{##}

<style>
.margin-bottom {
        padding: 200px;
}

.margin {
    padding: 30px;
}

</style>


<!-- <div class="logo">
    <img src="/static/media/logo.png" class="d-block w-100" alt="..." height="500" width="200">

</div> -->
    <!-- <div class="margin">
        </div> -->
    <div class = "container">
            <div class="contact_title">

                    <img src="/static/media/officialLogo.jpg" alt="">

        <h2>DISCLAIMER:</h2>
        <br>
        <br>

<h3>THIS WEBSITE IS FOR PROJECT PURPOSES ONLY!</h3>

<p>Color Me This is a Web Application that is made by four junior programmers for project purposes only. 
    It is not a legit online shop and everything that is on this page are not sold. 
    The products that are used are only samples to try our feature Color Recognition System feature 
    where people can upload a picture and the application will find a matching shade of either foundation or lipstick from our database.
    </p>
</div>

</div>

<div class="margin-bottom">
<p>
    &nbsp;
&nbsp;

</p>
{% endblock %}
