{# THIS IS WHERE THE HEADER FOOTER IS #}
{% extends "base.html" %}
{% load staticfiles %}

{# THIS IS FOR THE HEAD TITLE #}
{% block head_title %}
WELCOME TO
{% endblock %}

{# FOR BOOTSTRAP BUT IS NOW WORKING #}
{% comment %}
{%block jquery %}{% endblock %}
{% endcomment %}

{# THIS IS THE CONTENT OF THE WEB PAGE #}
{# DIANA'S CODE #}


{% block jumbotron %}

<!-- <table>
    <tr>
    {% for color in shade %}
        <style>
            #shade{
                padding: 40px 10px 5px 5px;
                margin: 50px 5px 0 50px;
            }
        </style>
        <td>
            <h2 id="shade" style="color:transparent; background-color:rgb{{color}};"> 
                shade
            </h2>
            <label id="shade" style="margin-top:0px;">{{color}}</label>
        </td>
    {%endfor%}
    </tr> -->


<style>
  body{
  font-family: "Poppins", sans-serif;

}


</style>



<div class="container">
    <div class="contact_title"><br><br>
        <h1>Closest shades based on the uploaded image:</h1>
<hr>
&nbsp;
&nbsp;
&nbsp;
&nbsp;

            <table align="center">
                <tr>
                    {% for color in shade %}
                    <style>
                        #shade {
                            padding: 40px 10px 5px 5px;
                            margin: 10px 5px 0 50px;
                            text-align: center;
                            vertical-align: middle;
                            border:none;
                        }


                    </style>
                    <td>
                        <p>
                        <h2 id="shade" style="color:transparent; background-color:rgb{{color}};">
                            shade
                        </h2>
                        <label id="shade" style="margin-top:0px; color:transparent;">{{color}}</label>
                    </td>
                    </p>
                    {%endfor%}
                </tr>
            </table>
    </div>
    
    <div align="center" style="padding-left:40px">
        <a href="{% url 'color_match' %}" class="add_cart_btn"  style='text-decoration: none;' role='button'>next</a>
    </div>
</div>
    <!-- </table> -->
    {% endblock %}