{% extends 'base.html' %}

{% block content %}
<!-- {{f}} -->
<style>
    .cart_product_list{
            padding-left: 150px;
        }
</style>

<div class="margin-top">
    &nbsp;
</div>
<div class="container">


    <div class="row">
        <div>
            <div class="cart_product_list">
                <h1 class="cart_single_title" style="text-align:center;">My Favorites</h1>
                <div class="table-responsive-md">
                    <table class="table">
                            <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                        {% for item in favorite.products.all %}
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a href='{% url "remove_from_cart" item.id %}'><i class="fas fa-trash-alt"></i></a>
                                </th>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <!-- <a href='{{ item.product.image.get_absolute_url }}'>Remove</a>                                                        </div> -->
                                            <div class="media-body">
                                                <a href='{{ item.get_absolute_url }}' style="color:black;">{{item.name}}</a> </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.price}}</td>
                                <td style="margin-right: 30px">
                                    <form class='form' method='POST' action="{% url 'add_to_cart' item.slug %}"> {%csrf_token %}
                                        <input class='form-control' name='qty' type='number' value='1' hidden />
                                        <button class='float-left btn btn-warning' type="submit">Add to Cart</button>
                                    </form>
                                </td>
                                <td>
                                    <form class='form' method='POST' action="{% url 'remove_favorite' item.slug %}"> {%csrf_token %}
                                        <button class='float-right btn btn-info' type="submit">Remove</button>
                                    </form>
                                </td>
                                {%endfor%}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-bottom">
        &nbsp;
    </div>

    {% endblock %} py